<%- include("partials/header") %>

    <div class="table-container">
        <h2 class="title">Add todo</h2>

        <div>
            <a class="btn" href="/">Back</a>

            <form action="/add-todo" method="POST">
                <div class="new-todo">
                    <div class="form-group">
                        <label for="title" class="text-light">Title</label>
                        <input type="text" name="title" value="" placeholder="type todo here" />
                    </div>
                    <div class="form-group">
                        <label for="description" class="text-light">Description</label>
                        <input type="text" name="description" value="" placeholder="type description here" />
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <%- include("partials/footer") %>